.cart-shop{
    padding: 20px 10% 40px;
    /*
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    */
}

.products-shop{
    padding: 40px 10% 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}

.row{
    width: 980px !important;
}

.cart-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -1px;
    border: solid 1px black;
    overflow: hidden;
    img{
        width: 120px;
        height: 120px;
        object-fit: scale-down;
        border-right: solid 1px black;
    }
    .description{
        width: 800px;
        border-right: solid 1px black;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .money{
        width: 100px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }


  }




#product{
    background-color: white;
}

.product{
    background-color: white;
}


.delet{
    background-color: rgb(245, 40, 40);
    border-radius: 5%;
    border: none;
    cursor: pointer;
    width: 100%;
    &:hover{
        background-color: rgb(143, 11, 11);
    }
}